# tb.lx Data Science Challenge - Part II
----
----
## Introduction

Dear applicant,

Congratulations on passing the first screening! We’re excited to get to know you better and get a better feeling of your competences. In this round, we will test you on your problem-solving skills and data science experience by giving you a case to solve.

After handing us over your solution, we will review it and let you know our feedback. In the case you have passed, you will be called to an on-site interview. During the interview, you’ll get the opportunity to explain your solution and the steps that you took to get there. We've prepared this notebook for you, to help you walk us through your ideas and decisions.

If you're not able to fully solve the case, please elaborate as precisely as you can:

- Which next steps you'd be taking;
- Which problems you'd be foreseeing there and how you'd solve those.

In case you have any questions, feel free to contact ana.cunha@daimler.com or sara.gorjao@daimler.com for any more info. 

Best of luck!

## Context:

Predictive Maintenance is one of the hottest topics in the heavy-industry field. The ability to detect failures before they happen is of utmost importance, as it enables the full utilization of materials saving in unnecessary early replacements, and enables optimizations in maintenance planning reducing the downtime.


## Data:

One of the challenges in the auto-tech industry is to detect failures before they happen. For this, we included a dataset including:
* `telemetry.csv`: Consists of a dataset with sensor values along time
* `faults.csv`: Consists of a dataset with faults for each machine along time.
* `errors.csv`: Consists of a dataset with errors for each machine along time.
* `machines.csv`: Consists of a dataset with features for each machine. 


## Task:

In the second part of the challenge, we would like to know that a failure is going to happen before it actually happens. The decision of the prediction horizon is totally up to you, **but the goal is to predict failures before they happen**.


## Questions:

Follows a set of theoretical questions:

1. How can you create a machine learning model that leverages all the data that we provided whilst adapting to the specificities of each turbine (e.g., operating in different weather conditions)?
2. Modeling the normal behaviour of such machines can prove itself to be a good feature. After training a model that captures the normal turbine dynamics, we need to decide when the displayed behaviour may be considered an anomaly or not. How can one design a framework that creates alerts for abnormality without overloading the end-user with too many false positives?
3. How would you measure aleatoric uncertainty of the predictions of your model?

## Requirements:

- Solution implemented in Python3.6+;
- Provide requirements.txt to test the solution in the same environment;
- Write well structured, documented, maintainable code;
- Write sanity checks to test the different steps of the pipeline;

In [ ]:
# Isto aqui vai ser muito como as coisas que ja tenho visto de TTF. Load datasets ver o RUL ver quantos time-steps faltam
# até o RUL e por ai fora
#https://www.kaggle.com/nafisur/predictive-maintenance-using-lstm-on-sensor-data
#https://www.kaggle.com/billstuart/predictive-maintenance-ml-iiot
#https://www.kaggle.com/hanwsf8/lstm-lgb-catb-for-predictive-maintenance-upper
#https://www.kaggle.com/juhumbertaf/tutorial
#https://iopscience.iop.org/article/10.1088/1742-6596/1037/6/062003/pdf
#https://www.kaggle.com/c/equipfails/overview
#https://www.kaggle.com/uciml/aps-failure-at-scania-trucks-data-set
#https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/predictive-maintenance-playbook#data-science-for-predictive-maintenance
#https://github.com/Azure-Samples/MachineLearningSamples-DeepLearningforPredictiveMaintenance
#https://gallery.azure.ai/Notebook/Predictive-Maintenance-Implementation-Guide-R-Notebook-2
#https://gallery.azure.ai/Collection/Predictive-Maintenance-Template-3

# Para a primeira pergunta: Dizer algo como garantir que o modelo não esta a fazer overfitting de maneira a conseguir
# adaptar-se a novas turbinas (também posso dizer "garantir que os dados são representativos do que queremos")

# Para a segunda pergunta: Fazer one class classification

# Para a terceira pergunta: algo como bayesian estimation

In [49]:
import bisect
import numpy as np
import pandas as pd

# Loading the datasets
telemetry = pd.read_csv("../data/sensor/telemetry.csv", index_col=0)
failures = pd.read_csv("../data/sensor/failures.csv")
errors = pd.read_csv("../data/sensor/errors.csv")
machines = pd.read_csv("../data/sensor/machines.csv")

Converting datetime strings to datetime objects

In [50]:
telemetry["datetime"] = pd.to_datetime(telemetry["datetime"])
failures["datetime"] = pd.to_datetime(failures["datetime"])
errors["datetime"] = pd.to_datetime(errors["datetime"])

## Joining the additional information

Since we have other relevant information scattered on different dataframes, it is useful to  join these dataframes into one containing all the needed information

In [51]:
# Joining the newly added failures column to the telemetry dataframe
failures["failures"] = 1
telemetry = telemetry.merge(failures, on=["machineID", "datetime"], how="left")
telemetry["failures"].fillna(0, inplace=True)

# Joining the errors columns to the telemetry dataframe
telemetry = telemetry.merge(errors, on=["machineID", "datetime"], how="left")
telemetry["errorID"].fillna("no_errors", inplace=True)

# Joining the static machine information to the telemetry dataframe
telemetry = telemetry.merge(machines, on="machineID", how="left")
telemetry.head()

,datetime,machineID,volt,rotate,pressure,vibration,failures,errorID,model,age
0,2015-01-01 06:00:00,1,176.217853,NaN,113.077935,45.087686,0.0,no_errors,model3,18
1,2015-01-01 07:00:00,1,162.879223,NaN,95.460525,NaN,0.0,no_errors,model3,18
2,2015-01-01 08:00:00,1,NaN,527.349825,75.237905,34.178847,0.0,no_errors,model3,18
3,2015-01-01 09:00:00,1,162.462833,346.149335,109.248561,41.122144,0.0,no_errors,model3,18
4,2015-01-01 10:00:00,1,157.610021,NaN,111.886648,25.990511,0.0,no_errors,model3,18

We now have a complete dataset with time-series data and static data to use. We can see there are some missing values present in the data

In [52]:
telemetry.isna().sum()

datetime          0
machineID         0
volt         139548
rotate       139597
pressure     139461
vibration    139558
failures          0
errorID           0
model             0
age               0
dtype: int64

## Handling missing data

Nearly 16% of the `volt`, `rotate`, `pressure` and `vibration` columns are missing which is a good portion of the data. Given the size of the missing data it discards the possibility of simply dropping rows with missing values in them, as that would have too much of an impact in the quality of our data.

What we can do instead is to impute the missing values with a value that makes sense. This value can be the mean, mode, median, etc. of these columns. However different machines might have different mean/median/mdode values for these columns so it is imporant to impute these values with consideration about which machine is being imputed.

Since the missing values are in the dynamic data columns, we can go one step further than imputting with just the mean for example. Since these values change over time we can impute the missing values with a linea interpolation of the previous points in order to minimize the disruption in the data, giving us the best possible value for our missing data

In [53]:
def fill_missing_values(df, group_column, column_name, interpolate=True):
    """
        Fills the missing values in column_name by either the interpolated value (if interpolate is True)
        or the mean of the taken from from each group in group_column
        
        Arguments:
            df: The dataframe to update
            group_column: The name of the column by which to group the data
            column_name: The name of the column in which to replace the missing values
            interpolate: Boolean flag indicating if the missing values should be imputed with the interpolated
                value or by the mean
                
        Returns:
            A pd.Series object with missing value replaced by a meaningful value, to replace the original column
            in the dataframe
    """
    
    if interpolate:
        return df.groupby(group_column)[column_name].apply(lambda x: x.fillna(x.interpolate(method='linear')))
    else:
        return df.groupby(group_column)[column_name].apply(lambda x: x.fillna(x.mean()))


for column in ["volt", "rotate", "pressure", "vibration"]:
    
    # Impute missing values with the interpolated values
    telemetry[column] = fill_missing_values(telemetry, "machineID", column)
    
    # Some missing values may still persists (in cases where interpolation is not possible) for those 
    # we'll impute with the mean
    telemetry[column] = fill_missing_values(telemetry, "machineID", column, interpolate=False)
    
# Checking the missing values
telemetry.isna().sum()

Great, no more missing values in our data

## Adding cycle and time to next failure information

Since we are trying to predict when a machine will fail it is also usefull to know for every observation how many cycles are left until it fails. For that we need the information about the cycle of an observation (a cumulative count for a specific machine)

Having both these additional columns allows us to create a binary label for our data (e.g. "this machine fails in X number of cycles")

In [116]:
# Adding information about the cycle of each machine
telemetry["cycle"] = telemetry.groupby("machineID").cumcount()

def get_failure_cycles():
    """
        Gets a hash-map (a python dictionary) of all the cycles where a fail occured for each machine, for faster lookup times
        Hash-Map format {machineID: <List of cycles where fail occured>}
        
        Returns:
            A hash-map containing a list of cycles where each machine failed
    """
    
    hash_map = {}
    
    # Iterate over every machineID
    for machine_id in telemetry["machineID"].unique():
        
        # Get the list of cycles where a failure occured for this machine
        failure_cycles = telemetry.loc[(telemetry["machineID"] == machine_id) & (telemetry["failures"] == 1), "cycle"].to_numpy()
        
        # Insert new key and new value to hash-map
        hash_map[machine_id] = np.unique(failure_cycles)
        
    return hash_map

# hash-map containing every failure cycles for all machines
failure_cycles = get_failure_cycles()

def add_time_to_failure(row, failure_cycles):
    """
        Calculates the number of cycles left until a failure is observed, 
        based on the currect cycle of the current machine.
        
        The observations between the last known failure and the end of the analysis have a common time-to-failure
        of 9999 since these observations are censored and a failure is not garanteed.
        
        Arguments:
            row: The current row of the telemetry dataframe being iterated
            failure_cycles: The dictonary containing the failures cycles for each machine
        
        Returns:
            The number of cycles left until a machine experiences a failure
    """
    
    # Get the list of failure cycles for this machine
    machine_failure_cycles = failure_cycles[row["machineID"]]
    
    # If the current cycle is a failure cycle, then return 0 (there are 0 cycles until a failure is observed)
    if row["cycle"] in machine_failure_cycles:
        return 0
    
    # Get the index in which the current cycle of this machine would be added
    # in the list of failures for this machine. This index holds the value of of the next failure cycle
    #
    # Example: 
    #
    #    arr = [96, 150, 300]
    #    current_cycle = 50
    #
    #    idx_of_next_failure = bisect.bisect(arr, current_cycle)
    #    idx_of_next_failure
    #    >> 0
    #    arr[idx_of_next_failure]
    #    >> 96
    #
    #    current_cycle = 200
    #    idx_of_next_failure = bisect.bisect(arr, current_cycle)
    #    idx_of_next_failure
    #    >> 2
    #    arr[idx_of_next_failure]
    #    >> 300
    next_failure_index = bisect.bisect(machine_failure_cycles, row["cycle"])


    if next_failure_index < len(machine_failure_cycles):
        
        # Calculates the number of cycles left until a failure cycle
        return machine_failure_cycles[next_failure_index] - row["cycle"]
    else:
        
        # Between the last known failure of a machine and the end of the analysis
        # the time to failure doesn't matter much, so we'll fill it with a mask value of 9999
        return 9999
    
    
telemetry["ttf"] = telemetry.apply(lambda row: add_time_to_failure(row, failure_cycles), axis=1)
telemetry.head()

## Creating the labels

In order to predict a failure before it happens we need to lag the information about the failure back a few cycles so our model can learn a failure pattern before it happens.

Looking at the data we see that each cycle (an observation of each machine) represents one hour. Given this we might lag our failure column 15 cycles back in order to predict failures from at most 15 hours in advance. (__SECALHAR AQUI DEVO RETIRAR TAMBÉM A OBSERVAÇÃO NO MOMENTO DA FALHA PORQUE NÃO ME INTERESSE PREVER QUANDO FALHOU__) __quando separar para train test se calhar tambem tenho que tirar algumas observacoes perto do corte para garantir que nao ha leakage__

In [129]:
fail_window = 15
telemetry['fails_in_15'] = np.where(telemetry['ttf'] <= fail_window, 1, 0)

# Viewing that our `fails_in_15` column is correct
telemetry.iloc[80:100]

,datetime,machineID,volt,rotate,pressure,vibration,failures,errorID,model,age,cycle,ttf,fails_in_15
80,2015-01-04 14:00:00,1,129.016707,479.457721,111.575038,46.098007,0.0,no_errors,model3,18,80,16,0
81,2015-01-04 15:00:00,1,168.503141,455.536868,83.689837,43.917862,0.0,no_errors,model3,18,81,15,1
82,2015-01-04 16:00:00,1,184.640476,365.213804,87.474009,45.434177,0.0,no_errors,model3,18,82,14,1
83,2015-01-04 17:00:00,1,176.208034,517.348533,82.400818,46.950492,0.0,no_errors,model3,18,83,13,1
84,2015-01-04 18:00:00,1,187.982008,487.487012,111.684659,56.837165,0.0,no_errors,model3,18,84,12,1
85,2015-01-04 19:00:00,1,199.755983,457.625491,107.335080,41.674887,0.0,no_errors,model3,18,85,11,1
86,2015-01-04 20:00:00,1,181.062464,427.763970,103.159963,50.146515,0.0,no_errors,model3,18,86,10,1
87,2015-01-04 21:00:00,1,162.368945,458.491868,96.210047,50.240045,0.0,no_errors,model3,18,87,9,1
88,2015-01-04 22:00:00,1,180.562703,447.101400,89.260131,56.352074,0.0,no_errors,model3,18,88,8,1
89,2015-01-04 23:00:00,1,171.245820,471.194987,89.474271,62.464103,0.0,no_errors,model3,18,89,7,1
90,2015-01-05 00:00:00,1,161.928938,376.719605,89.969588,58.087488,0.0,no_errors,model3,18,90,6,1
91,2015-01-05 01:00:00,1,127.163620,430.475185,95.667178,46.845600,0.0,no_errors,model3,18,91,5,1
92,2015-01-05 02:00:00,1,158.155297,429.346217,94.892589,58.225151,0.0,no_errors,model3,18,92,4,1
93,2015-01-05 03:00:00,1,177.317220,461.801246,103.056344,49.894647,0.0,no_errors,model3,18,93,3,1
94,2015-01-05 04:00:00,1,202.520488,387.005318,105.981906,45.202347,0.0,no_errors,model3,18,94,2,1
95,2015-01-05 05:00:00,1,177.510419,469.787301,108.907467,59.577251,0.0,no_errors,model3,18,95,1,1
96,2015-01-05 06:00:00,1,166.510936,484.092868,111.833028,52.383097,1.0,no_errors,model3,18,96,0,1
97,2015-01-05 07:00:00,1,155.511452,498.398435,103.068134,33.270415,0.0,no_errors,model3,18,97,1439,0
98,2015-01-05 08:00:00,1,172.439821,392.124959,108.135159,39.477497,0.0,no_errors,model3,18,98,1438,0
99,2015-01-05 09:00:00,1,138.826437,451.348967,126.464580,38.257462,0.0,no_errors,model3,18,99,1437,0

We can see that at cycle 81 (15 cycles before machine 1 witnesses a failure) we start labeling observations as "will fail within a window of 15 cycles". This gives us 15 cycles (which translates to 15 hours) to predict this failure. 

With more domain knowledge about the concrete situation a better number of cycles to predict could be thought of, although for this exercise this may suffice.

We now have a binary label that we can use for a classifier. We could also create different labels (e.g. "fails in 30 cycles", "fails in 40 cycles") where we could perform multiclass-classification. We could also use this as a regression problem and try to predict the time to failure, although this could be harder for the machine learning model to predict, and we would have to possibily discard the observations between the last known failure and the end of the analysis