# tb.lx Data Science Challenge - Part II
----
----
## Introduction

Dear applicant,

Congratulations on passing the first screening! We’re excited to get to know you better and get a better feeling of your competences. In this round, we will test you on your problem-solving skills and data science experience by giving you a case to solve.

After handing us over your solution, we will review it and let you know our feedback. In the case you have passed, you will be called to an on-site interview. During the interview, you’ll get the opportunity to explain your solution and the steps that you took to get there. We've prepared this notebook for you, to help you walk us through your ideas and decisions.

If you're not able to fully solve the case, please elaborate as precisely as you can:

- Which next steps you'd be taking;
- Which problems you'd be foreseeing there and how you'd solve those.

In case you have any questions, feel free to contact ana.cunha@daimler.com or sara.gorjao@daimler.com for any more info. 

Best of luck!

## Context:

Predictive Maintenance is one of the hottest topics in the heavy-industry field. The ability to detect failures before they happen is of utmost importance, as it enables the full utilization of materials saving in unnecessary early replacements, and enables optimizations in maintenance planning reducing the downtime.


## Data:

One of the challenges in the auto-tech industry is to detect failures before they happen. For this, we included a dataset including:
* `telemetry.csv`: Consists of a dataset with sensor values along time
* `faults.csv`: Consists of a dataset with faults for each machine along time.
* `errors.csv`: Consists of a dataset with errors for each machine along time.
* `machines.csv`: Consists of a dataset with features for each machine. 


## Task:

In the second part of the challenge, we would like to know that a failure is going to happen before it actually happens. The decision of the prediction horizon is totally up to you, **but the goal is to predict failures before they happen**.


## Questions:

Follows a set of theoretical questions:

1. How can you create a machine learning model that leverages all the data that we provided whilst adapting to the specificities of each turbine (e.g., operating in different weather conditions)?
2. Modeling the normal behaviour of such machines can prove itself to be a good feature. After training a model that captures the normal turbine dynamics, we need to decide when the displayed behaviour may be considered an anomaly or not. How can one design a framework that creates alerts for abnormality without overloading the end-user with too many false positives?
3. How would you measure aleatoric uncertainty of the predictions of your model?

## Requirements:

- Solution implemented in Python3.6+;
- Provide requirements.txt to test the solution in the same environment;
- Write well structured, documented, maintainable code;
- Write sanity checks to test the different steps of the pipeline;

In [ ]:
# Isto aqui vai ser muito como as coisas que ja tenho visto de TTF. Load datasets ver o RUL ver quantos time-steps faltam
# até o RUL e por ai fora
#https://www.kaggle.com/nafisur/predictive-maintenance-using-lstm-on-sensor-data
#https://www.kaggle.com/billstuart/predictive-maintenance-ml-iiot
#https://www.kaggle.com/hanwsf8/lstm-lgb-catb-for-predictive-maintenance-upper
#https://www.kaggle.com/juhumbertaf/tutorial
#https://iopscience.iop.org/article/10.1088/1742-6596/1037/6/062003/pdf
#https://www.kaggle.com/c/equipfails/overview
#https://www.kaggle.com/uciml/aps-failure-at-scania-trucks-data-set
#https://docs.microsoft.com/en-us/azure/machine-learning/team-data-science-process/predictive-maintenance-playbook#data-science-for-predictive-maintenance
#https://github.com/Azure-Samples/MachineLearningSamples-DeepLearningforPredictiveMaintenance
#https://gallery.azure.ai/Notebook/Predictive-Maintenance-Implementation-Guide-R-Notebook-2
#https://gallery.azure.ai/Collection/Predictive-Maintenance-Template-3

# Para a primeira pergunta: Dizer algo como garantir que o modelo não esta a fazer overfitting de maneira a conseguir
# adaptar-se a novas turbinas (também posso dizer "garantir que os dados são representativos do que queremos")

# Para a segunda pergunta: Fazer one class classification

# Para a terceira pergunta: algo como bayesian estimation

In [28]:
import pandas as pd

# Loading the datasets
telemetry = pd.read_csv("../data/sensor/telemetry.csv", index_col=0)
failures = pd.read_csv("../data/sensor/failures.csv")
errors = pd.read_csv("../data/sensor/errors.csv")
machines = pd.read_csv("../data/sensor/machines.csv")

Converting datetime strings to datetime objects

In [23]:
telemetry["datetime"] = pd.to_datetime(telemetry["datetime"])
failures["datetime"] = pd.to_datetime(failures["datetime"])
errors["datetime"] = pd.to_datetime(errors["datetime"])

,datetime,machineID,volt,rotate,pressure,vibration
index,,,,,,
0,1/1/2015 6:00:00 AM,1,176.217853,NaN,113.077935,45.087686
1,1/1/2015 7:00:00 AM,1,162.879223,NaN,95.460525,NaN
2,1/1/2015 8:00:00 AM,1,NaN,527.349825,75.237905,34.178847
3,1/1/2015 9:00:00 AM,1,162.462833,346.149335,109.248561,41.122144
4,1/1/2015 10:00:00 AM,1,157.610021,NaN,111.886648,25.990511
5,1/1/2015 11:00:00 AM,1,172.504839,NaN,95.927042,35.655017
6,1/1/2015 12:00:00 PM,1,156.556031,499.071623,111.755684,42.753920
7,1/1/2015 1:00:00 PM,1,172.522781,409.624717,101.001083,NaN
8,1/1/2015 2:00:00 PM,1,175.324524,NaN,110.624361,45.482287
9,1/1/2015 3:00:00 PM,1,169.218423,460.850670,104.848230,39.901735
10,1/1/2015 4:00:00 PM,1,167.060981,NaN,103.780663,42.675800
11,1/1/2015 5:00:00 PM,1,160.263954,448.084256,NaN,38.543681
12,1/1/2015 6:00:00 PM,1,153.353492,490.672921,86.012440,44.108554
13,1/1/2015 7:00:00 PM,1,182.739113,418.199252,93.484954,41.367190
14,1/1/2015 8:00:00 PM,1,170.335438,402.461187,NaN,39.739883
15,1/1/2015 9:00:00 PM,1,182.467109,NaN,85.762615,51.021486
16,1/1/2015 10:00:00 PM,1,151.335682,444.922656,94.247371,42.119652
17,1/1/2015 11:00:00 PM,1,NaN,NaN,91.329429,NaN
18,1/2/2015 12:00:00 AM,1,180.097495,486.712304,96.733915,38.896776
19,1/2/2015 1:00:00 AM,1,169.605854,519.452812,78.880780,40.156875
20,1/2/2015 2:00:00 AM,1,167.129117,427.050768,91.699899,44.642351
21,1/2/2015 3:00:00 AM,1,158.271400,422.811052,92.439132,39.781917
22,1/2/2015 4:00:00 AM,1,200.872430,403.235951,96.535487,NaN
23,1/2/2015 5:00:00 AM,1,181.257522,495.777958,NaN,52.355876
24,1/2/2015 6:00:00 AM,1,197.363125,446.943947,114.342061,29.527665
25,1/2/2015 7:00:00 AM,1,171.200895,384.645962,103.373293,35.796566
26,1/2/2015 8:00:00 AM,1,160.528861,486.459056,86.944273,42.992509
27,1/2/2015 9:00:00 AM,1,147.300678,NaN,110.408985,NaN
28,1/2/2015 10:00:00 AM,1,160.458503,NaN,90.711354,NaN
29,1/2/2015 11:00:00 AM,1,173.394523,439.579460,97.675827,37.117103
...,...,...,...,...,...,...
876070,12/31/2015 1:00:00 AM,100,155.460772,502.686103,92.864728,45.183893
876071,12/31/2015 2:00:00 AM,100,148.126516,462.309099,114.690237,37.983313
876072,12/31/2015 3:00:00 AM,100,136.363542,473.554557,NaN,34.923653
876073,12/31/2015 4:00:00 AM,100,169.925104,577.574470,103.166483,37.362718
876074,12/31/2015 5:00:00 AM,100,163.234778,421.265022,93.819575,48.646624
876075,12/31/2015 6:00:00 AM,100,173.774481,NaN,101.671563,NaN
876076,12/31/2015 7:00:00 AM,100,173.541977,516.008152,81.170176,38.910277
876077,12/31/2015 8:00:00 AM,100,180.806069,578.429999,109.781493,39.112208
876078,12/31/2015 9:00:00 AM,100,NaN,425.073954,95.264212,NaN
876079,12/31/2015 10:00:00 AM,100,204.190937,NaN,107.989028,43.826198
876080,12/31/2015 11:00:00 AM,100,185.101538,505.576171,104.014681,33.680497
876081,12/31/2015 12:00:00 PM,100,182.398028,396.362305,91.321304,35.336206
876082,12/31/2015 1:00:00 PM,100,164.742158,NaN,NaN,NaN
876083,12/31/2015 2:00:00 PM,100,160.264545,NaN,112.160688,38.188554
876084,12/31/2015 3:00:00 PM,100,177.526963,388.490938,103.939118,NaN
876085,12/31/2015 4:00:00 PM,100,164.729171,448.894575,99.763131,43.916301
876086,12/31/2015 5:00:00 PM,100,191.020128,537.789373,105.847232,45.791265
876087,12/31/2015 6:00:00 PM,100,NaN,360.053876,102.923230,30.398181
876088,12/31/2015 7:00:00 PM,100,138.506098,497.861210,NaN,34.867196
876089,12/31/2015 8:00:00 PM,100,NaN,NaN,79.584958,27.457001
876090,12/31/2015 9:00:00 PM,100,153.404574,NaN,99.132955,37.666806
876091,12/31/2015 10:00:00 PM,100,169.397346,546.144572,NaN,38.695601
876092,12/31/2015 11:00:00 PM,100,152.182033,414.011630,117.426340,43.966709
876093,1/1/2016 12:00:00 AM,100,168.740039,NaN,103.158233,47.289000
876094,1/1/2016 1:00:00 AM,100,162.742669,NaN,101.589735,44.382754
876095,1/1/2016 2:00:00 AM,100,179.438162,395.222827,102.290715,NaN
876096,1/1/2016 3:00:00 AM,100,NaN,NaN,98.180607,35.123072
876097,1/1/2016 4:00:00 AM,100,NaN,447.816524,94.132837,NaN
876098,1/1/2016 5:00:00 AM,100,165.475310,413.771670,NaN,44.835259
876099,1/1/2016 6:00:00 AM,100,171.336037,496.096870,79.095538,37.845245